/* public/css/app.css */

.navbar {
    position: sticky;
    top: 0;
    background-color: #f8f9fa; /* Set your background color */
    z-index: 1000; /* Ensure the navbar is on top of other elements */
 }
 
 .font-bebas-neue {
    font-family: 'Bebas Neue', sans-serif;
    /* Additional styling if necessary */
 }
 